body {
    background-color: royalblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.topic {
    margin: 10px;
}

.buttons-view {
    border-radius: 25px;
    border: 2px solid wheat;
    padding: 10px;
}

h2 {
    letter-spacing: 5px;
    text-align: center;
    color: whitesmoke;
}

h6 {
    font-style: oblique;
    color: rgb(240, 255, 244);
}

.topic {
    font-size: 16px;
    font-weight: lighter;
}

.hero-name {
    margin: 20px;
    float: left;
}

p {
    color: papayawhip;
    margin-top: 20px;
    line-height: 16px;
}

img {
    border-radius: 20px;
    margin-top: 2px;
}
