html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: gray;
}

#title {
	color: coral;
	text-align: center;
	padding-top: 16px;
}

#buttonArea {
	margin-top: 10px;
}

.btn {
	margin: 5px;
}

#gifArea {
	margin-top: 20px;
}

.submit {
	background-color: coral;
	color: black;
	border: 25px solid gray;
}

.credits {
	font-size: .8em;
}

.clear {
	clear: both;
}
